@{
    ViewData["Title"] = "Admin Panel";
    Layout = "_LayoutAdminPanel";
}

<h1 class="text-center text-4xl font-bold dark:text-white">
    Dashboard
</h1>

<div class="px-4 pt-6">
    <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
        <!-- Main widget -->
        <div class="grid grid-cols-2 p-4 text-gray-900 dark:text-white bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <!-- LIBRARIES -->
            <div class="mb-8 text-center">
                <svg aria-hidden="true" class="w-6 h-6 mt-0 mb-2 mx-auto fill-sky-900 dark:fill-sky-100" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M243.4 2.6l-224 96c-14 6-21.8 21-18.7 35.8S16.8 160 32 160v8c0 13.3 10.7 24 24 24H456c13.3 0 24-10.7 24-24v-8c15.2 0 28.3-10.7 31.3-25.6s-4.8-29.9-18.7-35.8l-224-96c-8-3.4-17.2-3.4-25.2 0zM128 224H64V420.3c-.6 .3-1.2 .7-1.8 1.1l-48 32c-11.7 7.8-17 22.4-12.9 35.9S17.9 512 32 512H480c14.1 0 26.5-9.2 30.6-22.7s-1.1-28.1-12.9-35.9l-48-32c-.6-.4-1.2-.7-1.8-1.1V224H384V416H344V224H280V416H232V224H168V416H128V224zM256 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg>
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400">Partner Libraries</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.AllLibraries
            </div>
            <!-- BOOKS -->
            <div class="mb-8 text-center">
                <svg aria-hidden="true" class="w-6 h-6 mt-0 mb-2 mx-auto text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20"><path d="M16 14V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 0 0 0-2h-1v-2a2 2 0 0 0 2-2ZM4 2h2v12H4V2Zm8 16H3a1 1 0 0 1 0-2h9v2Z" /></svg>
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400">Registered books</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.AllBooks
            </div>

            <hr class="my-8 col-span-2 border-gray-200 dark:border-gray-700" />

            <!-- LOANS -->
            <div class="mb-8 col-span-2 text-center">
                <svg class="w-6 h-6 mt-0 mb-2 mx-auto fill-emerald-700 dark:fill-emerald-500" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 491.524 491.524" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M485.581,403.519c1.7-1.72,2.929-3.707,3.912-5.796c0.287-0.614,0.451-1.27,0.676-1.925 c0.635-1.761,0.983-3.563,1.106-5.448c0.02-0.43,0.246-0.799,0.246-1.229V20.482c0-11.305-9.155-20.48-20.48-20.48H194.929 c-28.447,0-51.569,23.122-51.569,51.548v133.059c-5.714,1.638-10.895,3.154-14.746,4.26c-13.23,3.85-25.477,10.097-36.332,18.555 c-3.441,2.683-7.127,5.018-10.957,6.963c-15.688,7.946-27.423,21.463-33.137,38.093l-34.12,11.264 C5.652,266.529,0,274.352,0,283.199v85.443c0,11.305,9.155,20.48,20.48,20.48h10.301c14.09,0,39.281,7.598,55.951,12.636 l10.158,3.031c10.977,3.195,22.344,4.813,33.833,4.813h12.636v20.48c0,33.874,27.566,61.44,61.44,61.44h266.24 c8.274,0,15.749-4.997,18.924-12.636c3.174-7.66,1.413-16.466-4.444-22.323c-19.292-19.292-19.292-33.649,0-52.941 C485.54,403.581,485.56,403.54,485.581,403.519z M266.24,81.922h102.4c11.325,0,20.48,9.175,20.48,20.48 c0,11.305-9.155,20.48-20.48,20.48h-102.4c-11.325,0-20.48-9.175-20.48-20.48C245.76,91.097,254.915,81.922,266.24,81.922z M146.289,271.198c-1.925,6.574-2.929,13.681-2.929,21.176v0.02v76.247h-12.636c-7.598,0-15.114-1.065-22.385-3.195l-9.748-2.908 c-17.838-5.366-39.281-11.837-57.631-13.804v-50.749l26.706-8.806c12.964-4.26,16.22-14.193,19.087-22.958 c2.171-6.615,6.943-12.186,13.066-15.299c6.185-3.113,12.104-6.881,17.633-11.182c6.758-5.263,14.357-9.155,22.589-11.53 c6.881-2.007,17.49-5.059,29.368-8.438c0.021-0.02,0.041,0,0.061-0.02c10.22-2.908,21.053-5.96,31.396-8.806 c1.27-0.348,2.499-0.676,3.727-1.024c3.748-1.024,7.332-1.987,10.813-2.908c1.393-0.369,2.806-0.758,4.137-1.106 c4.485-1.188,8.745-2.294,12.452-3.215c0.348-0.102,0.614,0.041,0.942,0.021c1.413-0.061,2.703,0.389,3.645,1.72 c1.597,2.273,0.532,3.912,0.143,4.506c-3.215,4.854-8.028,8.479-13.537,10.179l-37.827,11.633 c-3.236,1.004-6.328,2.232-9.236,3.707C161.526,241.789,151.06,254.794,146.289,271.198z M433.603,450.562H204.8 c-11.305,0-20.48-9.195-20.48-20.48s9.175-20.48,20.48-20.48h228.803C428.974,423.18,428.974,436.984,433.603,450.562z"></path> </g> </g> </g></svg>
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400">Total Loans</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.Loans
            </div>

            <!-- ACTIVE LOANS -->
            <div class="mb-8 text-center">
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400">Currently Active</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.ActiveLoans
            </div>
            <!-- RESERVED LOANS -->
            <div class="mb-8 text-center">
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400">Currently Reserved</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.ReservedLoans
            </div>
        </div>
        <!--Tabs widget -->
        <div class="grid grid-cols-2 p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <!-- ALL USERS -->
            <div class="mb-8 text-center">
                <svg aria-hidden="true" class="w-6 h-6 mt-0 mb-2 mx-auto text-sky-600 dark:text-sky-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18"><path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" /></svg>
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400">Registered users</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.AllUsers</p>
            </div>
            <!-- PREMIUM USERS -->
            <div class="mb-8 text-center">
                <svg aria-hidden="true" class="w-6 h-6 mt-0 mb-2 mx-auto fill-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.00488 19H22.0049V21H2.00488V19ZM2.00488 5L7.00488 8L12.0049 2L17.0049 8L22.0049 5V17H2.00488V5Z"></path></svg>
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400">Premium users</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.PremiumUsers</p>
            </div>

            <hr class="my-8 col-span-2 border-gray-200 dark:border-gray-700" />

            <!-- USER PERCENTAGE -->
            <div class="mb-8 col-span-2 text-center">
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400">% of Premium users</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.UserPercentage</p>
            </div>

            <hr class="my-8 col-span-2 border-gray-200 dark:border-gray-700" />

            <!-- RATINGS -->
            <div class="mb-8 text-center">
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400"># Ratings</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.Ratings</p>
            </div>
            <!-- REVIEWS -->
            <div class="mb-8 text-center">
                <h3 class="text-xl font-bold text-gray-500 dark:text-gray-400"># Reviews</h3>
                <p class="text-3xl font-bold dark:text-white">@ViewBag.Reviews</p>
            </div>
        </div>
    </div>
</div>
