@model Hybriotheca.Web.Models.Account.UserSettingsViewModel

<div class="p-4 grow">
    <main role="main" class="max-w-screen-xl justify-between mx-auto dark:text-white">

        <div class="mb-4">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white">Hi, @Model.UserViewModel.FirstName</h2>
            <a asp-area="" asp-controller="Account" asp-action="Logout" class="text-sm font-medium text-sky-600 hover:underline dark:text-sky-500">Logout</a>
        </div>

        <!-- SUCCESS AND ERROR MESSAGES -->
        @if (TempData["UserMessage"] != null)
        {
            <div class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Success!</span> @TempData["UserMessage"]
                </div>
            </div>
        }

        @if (TempData["ModelError"] != null)
        {
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Oops!</span> @TempData["ModelError"]
                </div>
            </div>
        }

        <!-- MAIN CONTAINER -->
        <div class="relative mb-8 bg-white rounded-lg shadow-lg border border-gray-100 dark:border-gray-800 dark:bg-gray-900">

            <!-- TABS -->
            <div class="border-b border-gray-200 dark:border-gray-700">
                <!-- TABS BUTTONS -->
                <ul class="flex flex-wrap justify-center sm:justify-start -mb-px font-medium text-center" id="profile-settings-tabs" data-tabs-toggle="#tab-contents" role="tablist">
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg"
                                id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">
                            Profile
                        </button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                                id="password-tab" data-tabs-target="#password" type="button" role="tab" aria-controls="password" aria-selected="false">
                            Change Password
                        </button>
                    </li>
                </ul>
            </div>

            <!-- TABS CONTENTS -->
            <div id="tab-contents">
                <!-- PROFILE -->
                <partial name="_EditUserProfile" for="@Model.UserViewModel" />

                <!-- CHANGE PASSWORD -->
                <partial name="_ChangeUserPassword" for="@Model.PasswordViewModel" />
            </div>

        </div>
    </main>
</div>