@model Hybriotheca.Web.Data.Entities.AppUser

@{
    var activeLoans = 0;
    var reservedLoans = 0;
    var returnedLoans = 0;
    var overdueLoans = 0;

    foreach (var loan in Model.Loans)
    {
        if (loan.IsActive) { activeLoans++; }
        if (loan.IsReserved) { reservedLoans++; }
        if (loan.IsReturned) { returnedLoans++; }
        if (loan.IsOverdue) { overdueLoans++; }
    }
}

<div class="p-4 grow">
    <main role="main" class="max-w-screen-xl justify-between mx-auto dark:text-white">

        <!-- PAGE TITLE -->
        <div class="mt-2 mb-6">
            <h2 class="text-3xl font-bold text-gray-900 dark:text-white">My Loans</h2>
        </div>

        <!-- MAIN CONTAINER -->
        <div class="relative mb-8 bg-white rounded-lg shadow-lg border border-gray-100 dark:border-gray-800 dark:bg-gray-900">

            <!-- TABS -->
            <div class="border-b border-gray-200 dark:border-gray-700">
                <!-- TABS BUTTONS -->
                <ul class="flex flex-wrap justify-center sm:justify-start -mb-px font-medium text-center" id="profile-settings-tabs" data-tabs-toggle="#tab-contents" role="tablist">
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg"
                                id="active-tab" data-tabs-target="#active-loans" type="button" role="tab" aria-controls="active-loans" aria-selected="true">
                            Active
                        </button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg"
                                id="reserved-tab" data-tabs-target="#reserved-loans" type="button" role="tab" aria-controls="reserved-loans" aria-selected="false">
                            Reserved
                        </button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg"
                                id="returned-tab" data-tabs-target="#returned-loans" type="button" role="tab" aria-controls="loareturned-loansns" aria-selected="false">
                            Returned
                        </button>
                    </li>
                </ul>
            </div>

            <!-- TABS CONTENTS -->
            <div id="tab-contents">
                <!-- ACTIVE LOANS -->
                <div class="hidden" id="active-loans" role="tabpanel" aria-labelledby="active-tab">
                    @if (activeLoans == 0)
                    {
                        <div class="px-4 my-8" id="reviews">
                            <h2 class="text-2xl text-center font-bold text-gray-900 dark:text-white">You don't have any borrowed books</h2>
                        </div>
                    }
                    else
                    {
                        <!-- BOOKS -->
                        <div class="p-4 gap-2 grid grid-cols-1 md:grid-cols-2">
                            @foreach (var loan in Model.Loans)
                            {
                                if (loan.IsActive)
                                {
                                    <div class="flex gap-6 p-2 rounded hover:bg-gray-50 hover:dark:bg-gray-800">
                                        <div class="flex flex-col justify-center items-center w-fit">
                                            <img src="@loan.BookEdition.CoverImageFullPath" class="h-auto max-w-[100px] sm:max-w-[125px] md:max-w-[150px]" />
                                        </div>
                                        <article class="flex flex-col justify-between">
                                            <!-- BOOK TITLE -->
                                            <div>
                                                <h2 class="text-xl font-semibold text-gray-900 dark:text-white line-clamp-2">@loan.BookEdition.EditionTitle</h2>
                                                <h3 class="text-base text-gray-400 line-clamp-1">@loan.BookEdition.Book.Author</h3>
                                            </div>

                                            <!-- LOAN DATES -->
                                            <div>
                                                <h3 class="font-medium text-gray-900 dark:text-white line-clamp-2">Due date</h3>
                                                <h3 class="text-gray-500 dark:text-gray-400">@loan.TermLimitDate.ToShortDateString()</h3>
                                            </div>

                                            <!-- LIBRARY -->
                                            <div>
                                                <h3 class="font-medium text-gray-900 dark:text-white line-clamp-2">Library</h3>
                                                <h3 class="text-gray-500 dark:text-gray-400 line-clamp-2">@loan.Library.Name</h3>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>

                <!-- RESERVED LOANS -->
                <div class="hidden" id="reserved-loans" role="tabpanel" aria-labelledby="reserved-tab">

                    @if (reservedLoans == 0)
                    {
                        <div class="px-4 my-8" id="reviews">
                            <h2 class="text-2xl text-center font-bold text-gray-900 dark:text-white">You don't have any reserved books</h2>
                        </div>
                    }
                    else
                    {
                        <!-- BOOKS -->
                        <div class="p-4 gap-2 grid grid-cols-1 md:grid-cols-2">
                            @foreach (var loan in Model.Loans)
                            {
                                if (loan.IsReserved)
                                {
                                    <div class="flex gap-6 p-2 rounded hover:bg-gray-50 hover:dark:bg-gray-800">
                                        <div class="flex flex-col justify-center items-center w-fit">
                                            <img src="@loan.BookEdition.CoverImageFullPath" class="h-auto max-w-[100px] sm:max-w-[125px] md:max-w-[150px]" />
                                        </div>
                                        <article class="flex flex-col justify-between">
                                            <!-- BOOK TITLE -->
                                            <div>
                                                <h2 class="text-xl font-semibold text-gray-900 dark:text-white line-clamp-2">@loan.BookEdition.EditionTitle</h2>
                                                <h3 class="text-base text-gray-400 line-clamp-1">@loan.BookEdition.Book.Author</h3>
                                            </div>

                                            <!-- LOAN DATES -->
                                            <div>
                                                <h3 class="font-medium text-gray-900 dark:text-white line-clamp-2">Due date</h3>
                                                <h3 class="text-gray-500 dark:text-gray-400">@loan.TermLimitDate.ToShortDateString()</h3>
                                            </div>

                                            <!-- LIBRARY -->
                                            <div>
                                                <h3 class="font-medium text-gray-900 dark:text-white line-clamp-2">Library</h3>
                                                <h3 class="text-gray-500 dark:text-gray-400 line-clamp-2">@loan.Library.Name</h3>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>

                <!-- RETURNED LOANS-->
                <div class="hidden" id="returned-loans" role="tabpanel" aria-labelledby="returned-tab">
                    @if (returnedLoans == 0)
                    {
                        <div class="px-4 my-8" id="reviews">
                            <h2 class="text-2xl text-center font-bold text-gray-900 dark:text-white">You haven't returned any books</h2>
                        </div>
                    }
                    else
                    {
                        <!-- BOOKS -->
                        <div class="p-4 gap-2 grid grid-cols-1 md:grid-cols-2">
                            @foreach (var loan in Model.Loans)
                            {
                                if (loan.IsReturned)
                                {
                                    <div class="flex gap-6 p-2 rounded hover:bg-gray-50 hover:dark:bg-gray-800">
                                        <div class="flex flex-col justify-center items-center w-fit">
                                            <img src="@loan.BookEdition.CoverImageFullPath" class="h-auto max-w-[100px] sm:max-w-[125px] md:max-w-[150px]" />
                                        </div>
                                        <article class="flex flex-col justify-between">
                                            <!-- BOOK TITLE -->
                                            <div>
                                                <h2 class="text-xl font-semibold text-gray-900 dark:text-white line-clamp-2">@loan.BookEdition.EditionTitle</h2>
                                                <h3 class="text-base text-gray-400 line-clamp-1">@loan.BookEdition.Book.Author</h3>
                                            </div>

                                            <!-- LOAN DATES -->
                                            <div>
                                                <h3 class="font-medium text-gray-900 dark:text-white line-clamp-2">Due date</h3>
                                                <h3 class="text-gray-500 dark:text-gray-400">@loan.TermLimitDate.ToShortDateString()</h3>
                                            </div>

                                            <!-- LIBRARY -->
                                            <div>
                                                <h3 class="font-medium text-gray-900 dark:text-white line-clamp-2">Library</h3>
                                                <h3 class="text-gray-500 dark:text-gray-400 line-clamp-2">@loan.Library.Name</h3>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>

            </div>

        </div>
    </main>
</div>