@using Microsoft.AspNetCore.Identity;
@using Hybriotheca.Web.Data.Entities;
@inject UserManager<AppUser> _userManager;

@{
    AppUser loggedUser = null;

    if (User.Identity?.IsAuthenticated ?? false)
    {
        loggedUser = await _userManager.FindByEmailAsync(this.User.Identity.Name);
    }

    string HasPhoto()
    {
        if(loggedUser.PhotoId == Guid.Empty)
        {
            return "bg-gradient-to-r from-cyan-500 to-blue-500";
        }
        return string.Empty;
    }
}

<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hybriotheca.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <!-- FLOWBITE --> *@
    <link rel="stylesheet" href="~/lib/flowbite/dist/flowbite.min.css" asp-append-version="true" />
    @* <!-- TAILWIND CSS --> *@
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    @* <!-- TINY SLIDER --> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script><![endif]-->


    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>



</head>
<body class="flex flex-col h-full bg-white dark:bg-gray-900">

    @* <!-- HEADER --> *@
    <header>
        <nav class="bg-white border-b border-gray-100 dark:border-gray-800 dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                @* <!-- LOGO --> *@
                <a asp-area="" asp-controller="Home" asp-action="Index" class="flex items-center dark:text-white">
                    <img src="~/images/logo.svg" class="h-10 mr-3" alt="Hybriotheca Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap">Hybriotheca</span>
                </a>

                <div class="flex md:order-1">
                    @* <!-- SEARCH BAR --> *@
                    <div id="navbar-search" class="relative hidden md:block">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                            <span class="sr-only">Search icon</span>
                        </div>
                        <input type="text" id="search-navbar" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
                    </div>

                    @* <!-- SEARCH BUTTON - MOBILE --> *@
                    <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                    @* <!-- HAMBURGUER BUTTON - MOBILE --> *@
                    <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-search" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>

                <div class="flex items-center md:order-3">

                    @* <!-- THEME TOGGLER BUTTON --> *@
                    <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5 mr-2">
                        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                    </button>

                    @* <!-- AUTHENTICATION --> *@
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <!-- PROFILE PICTURE -->
                        <button type="button"
                                id="user-menu-button" 
                                aria-expanded="false" 
                                data-dropdown-toggle="user-dropdown" 
                                data-dropdown-placement="bottom"
                                class="flex justify-center items-center overflow-hidden w-8 h-8 mr-3 text-sm @HasPhoto() rounded-full md:mr-0 hover:ring-4 hover:ring-gray-300 dark:hover:ring-gray-600 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                            <span class="sr-only">Open user menu</span>
                            @if (loggedUser.PhotoId != Guid.Empty)
                            {
                                <img class="w-full h-auto rounded-full"
                                     src="@loggedUser.PhotoFullPath"
                                     alt="@loggedUser.FullName profile picture" />
                            }
                            else
                            {
                                <span class="text-sm font-bold text-white select-none">
                                    @loggedUser.NameAbbr
                                </span>
                            }
                        </button>

                        @* <!-- Dropdown menu --> *@
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
                            <div class="px-4 py-3">
                                <span class="block text-sm text-gray-900 dark:text-white">
                                    @if (loggedUser.FullName == string.Empty)
                                    {
                                        @:Name not found
                                    }
                                    else
                                    {
                                        @loggedUser.FullName
                                        ;
                                    }
                                </span>
                                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">@this.User.Identity.Name</span>
                            </div>
                            <ul class="py-2" aria-labelledby="user-menu-button">
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="AdminPanel" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                            Dashboard
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                        Settings
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Account" asp-action="Logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                        Sign out
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                            </svg>
                        </button>

                    }
                    else
                    {
                        @* <!-- LOGIN BUTTON --> *@
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="flex flex-row space-x-2 items-center text-sm font-medium text-gray-900 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5">
                            <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 15">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3" />
                            </svg>
                            <span>Login</span>
                        </a>

                        @* <!-- REGISTER BUTTON --> *@
                        <a asp-area="" asp-controller="Account" asp-action="Register" class="flex flex-row space-x-2 items-center text-sm font-medium text-gray-900 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5">
                            <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                <path d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-2V5a1 1 0 0 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 0 0 2 0V9h2a1 1 0 1 0 0-2Z" />
                            </svg>
                            <span>Register</span>
                        </a>
                    }
                </div>

            </div>
        </nav>
    </header>



    @* <!-- MAIN CONTENT --> *@
    <div class="p-4 grow">
        <main role="main" class="max-w-screen-xl justify-between mx-auto dark:text-white">
            @RenderBody()
        </main>
    </div>



    @* <!-- FOOTER --> *@
    <footer class="p-4 bg-gray-100 md:p-8 lg:p-10 dark:bg-gray-800">
        <div class="mx-auto max-w-screen-xl text-center">
            <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
                <img src="~/images/logo.svg" class="h-10 mr-3" alt="Hybriotheca Logo" />
                Hybriotheca
            </a>
            <p class="my-6 text-gray-500 dark:text-gray-400">
                Immerse in a world of books with our virtual library app. Rent, read online, and connect with physical libraries - all in one place.
            </p>
            <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Premium</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Campaigns</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Affiliate Program</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
                </li>
            </ul>
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                &copy; @DateTime.Now.Year.ToString()
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="hover:underline">Hybriotheca™</a>.
                All Rights Reserved.
            </span>
        </div>
    </footer>

    @* <!-- JQUERY --> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <!-- FLOWBITE --> *@
    <script src="~/lib/flowbite/dist/flowbite.min.js"></script>
    @* <!-- CUSTOM JS --> *@
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @* <!-- TINY SLIDER --> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->

    <script type="text/javascript">
        // import { tns } from './lib/tiny-slider-2.9.3/src/tiny-slider.js';

        var slider1 = tns({
            container: '.slider-new-releases',
            items: 6,
            slideBy: 'page',
            autoplay: false,
            gutter: 20,
            edgePadding: 0
        });

        var slider2 = tns({
            container: '.slider-2',
            items: 6,
            slideBy: 'page',
            autoplay: false,
            loop: false,
            rewind: true,
            gutter: 20,
            edgePadding: 0
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>