@model IEnumerable<Hybriotheca.Web.Models.Entities.LoanViewModel>

@{
    ViewData["Title"] = "Loans";
    Layout = "_Layout-BACKUP";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Library</th>
            <th>User</th>
            <th>
                @Html.DisplayNameFor(model => model.BookEditionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th><!-- Is returned? -->Rtd</th>
            <th><!-- Is overdue? -->Ovd</th>
            <th><!-- ReturnBook --></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookEditionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>@(item.IsReturned ? "Y" : "N")</td>
            <td>@(item.IsOverdue ? "Y" : "N")</td>
            <td>
                @if (!item.IsReturned)
                {
                    <a asp-action="ReturnBook" asp-route-loanId="@item.Id">Return</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
