@model List<Hybriotheca.Web.Data.Entities.Rating>

@{
    string NameAbbr(string fullName)
    {
        var firstLetters = fullName.Split(' ')
                    .Where(word => !string.IsNullOrEmpty(word))
                    .ToArray();

        if (firstLetters.Length > 0)
        {
            string nameAbbr = string.Concat(firstLetters[0][0], firstLetters[firstLetters.Length - 1][0]);
            return nameAbbr;
        }
        return string.Empty;
    }
}

<tbody id="results" class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
    @{ int counter = 0; }
    @foreach (var rating in Model)
    {
        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
            <!-- CHECKBOX -->
            <td class="w-4 p-4">
                <div class="flex items-center">
                    <input id="checkbox-@counter" aria-describedby="checkbox-@counter" type="checkbox" class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-@counter" class="sr-only">checkbox</label>
                </div>
            </td>
            <!-- BOOK -->
            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                @Html.DisplayFor(modelItem => rating.BookEdition.EditionTitle)
            </td>
            <!-- USER -->
            <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
                <!-- PROFILE PICTURE -->
                @if (rating.User.PhotoId != Guid.Empty)
                {
                    <div class="flex justify-center items-center max-w-xs max-h-xs w-10 h-10 rounded-full">
                        <img class="w-full h-full object-cover rounded-full"
                             src="@rating.User.PhotoFullPath"
                             alt="@rating.User.FullName profile picture" />
                    </div>
                }
                else
                {
                    <div class="flex justify-center items-center overflow-hidden max-w-xs max-h-xs w-10 h-10 rounded-full bg-gradient-to-r from-cyan-500 to-blue-500">

                        <span class="font-bold text-white select-none">
                            @NameAbbr(rating.User.FullName)
                        </span>
                    </div>
                }
                <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                    <!-- NAME -->
                    <div class="text-base font-semibold text-gray-900 dark:text-white">
                        @Html.DisplayFor(modelItem => rating.User.FullName)
                    </div>
                    <!-- EMAIL -->
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                        @Html.DisplayFor(modelItem => rating.User.Email)
                    </div>
                </div>
            </td>
            <!-- TITLE -->
            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                @Html.DisplayFor(modelItem => rating.RatingTitle)
            </td>
            <!-- RATING -->
            <td class="flex items-center mb-1">
                @for (int i = 0; i < rating.BookRating; i++)
                {
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                }
                @for (int i = 0; i < 5 - rating.BookRating; i++)
                {
                    <svg class="w-4 h-4 text-gray-300 dark:text-gray-500 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                }
            </td>
            <!-- ACTIONS -->
            <td class="p-4 space-x-2 whitespace-nowrap">
                <a asp-action="Details"
                   asp-route-id="@rating.ID"
                   data-tooltip-target="tooltip-details"
                   class="cursor-pointer inline-flex items-center px-3 py-3 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                        <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" />
                    </svg>
                </a>
                <div id="tooltip-details"
                     role="tooltip"
                     class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                    Details
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <a hx-get
                   hx-action="Delete"
                   hx-route-id="@rating.ID"
                   hx-target="#modal-delete"
                   data-tooltip-target="tooltip-delete"
                   class="cursor-pointer inline-flex items-center px-3 py-3 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                    <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                </a>
                <div id="tooltip-delete"
                     role="tooltip"
                     class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                    Delete
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </td>
        </tr>

        counter++;
    }
</tbody>