@model IEnumerable<Hybriotheca.Web.Data.Entities.BookEdition>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookFormat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImageFullPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrPages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailableOnline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.CoverImageFullPath)" style="max-width: 64px; max-height: 64px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailableOnline)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
