@model Hybriotheca.Web.Models.Entities.BookStockViewModel

<h4>Book Stock</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LibraryName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LibraryName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BookEditionTitle)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BookEditionTitle)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Quantity)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Quantity)
    </dd>
</dl>