@model Hybriotheca.Web.Models.Search.SearchViewModel

@{

    var page = Model.Page;
}


<p class="mb-3">@Model.TotalNrItems items found</p>

@if (Model.SearchResults is not null && Model.SearchResults.Any())
{
    <div class="row row-cols-1 row-cols-md-3 g-4 p-3">

        @foreach (var edition in Model.SearchResults)
        {
            <div class="col">
                <div class="card h-100">
                    <img src=@edition.CoverImageFullPath class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@edition.EditionTitle</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3">


            @if (page >= 4)
            {
                <li class="page-item">
                    <a class="page-link" hx-get="@string.Concat(Model.SearchURL, $"&page=1")" hx-target="#searchResults" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" hx-get="@string.Concat(Model.SearchURL, $"&page={page-1}")" hx-target="#searchResults" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
            }

            @for (int i = page - 2; i <= page + 2; i++)
            {

                if (i >= 1 && i <= Model.NrPages)
                {
                    if (i == page)
                    {
                        <li class="page-item active">

                            <a class="page-link" hx-get="@string.Concat(Model.SearchURL, $"&page={i}")" hx-target="#searchResults">
                                @i
                            </a>

                        </li>
                    }
                    else
                    {
                        <li class="page-item">

                            <a class="page-link" hx-get="@string.Concat(Model.SearchURL, $"&page={i}")" hx-target="#searchResults">
                                @i
                            </a>

                        </li>
                    }
                }

            }

            @if (page <= Model.NrPages - 3)
            {

                <li class="page-item">
                    <a class="page-link" hx-get="@string.Concat(Model.SearchURL, $"&page={page+1}")" hx-target="#searchResults" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" hx-get="@string.Concat(Model.SearchURL, $"&page={Model.NrPages}")" hx-target="#searchResults" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            
        </ul>
    </nav>
}
else
{
    <h5 class="text-center">No results where found...</h5>
}



